version: '3.8'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: exam_system
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./Backend
    ports:
      - "5001:5000"
    environment:
      - PORT=5000
      - DB_HOST=postgres
      - DB_USER=user
      - DB_PASS=password
      - DB_NAME=exam_system
      - DB_DIALECT=postgres
    depends_on:
      - postgres

  frontend:
    build: ./Frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
