version: '3.8'

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: exam_system
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./Backend
    ports:
      - "5001:5000"
    environment:
      - PORT=5000
      - DB_HOST=mysql
      - DB_USER=user
      - DB_PASS=password
      - DB_NAME=exam_system
      - DB_DIALECT=mysql
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build: ./Frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mysql_data:
